//colours
$veryDarkGray: #3B3B3B;
$veryDarkGrayishBlue:#4C5159;
$veryLightGray: #EEEEEE;
$softBlue: #4BADDB;
$darkBlue: #005889;
$veryLightGray: #F8F8F8;
$whiteGray: #FCFCFC;
$white: #FFFFFF;
$primaryFontColor: #3B3B3B;
$btnColorBlue:#3BA8DC;
