@import "./header";
@import "./mixins";
@import "./variables";
@import "./footer";
@import "./main";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    max-width: 1920px;
    
}